<div class='row around-xs'>
	<div class='col-xs-auto'>
		<a href='#' class='nd2-bottom-sheet-link' data-ajax='false'><i class='zmdi zmdi-phone-bluetooth-speaker md-2x'></i><strong>Bluetooth</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='#' class='nd2-bottom-sheet-link' data-ajax='false'><i class='zmdi zmdi-domain md-2x'></i><strong>Domain</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='#' class='nd2-bottom-sheet-link' data-ajax='false'><i class='zmdi zmdi-cake md-2x'></i><strong>Birthday</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='#' class='nd2-bottom-sheet-link' data-ajax='false'><i class='zmdi zmdi-local-florist md-2x'></i><strong>Flower</strong></a>
	</div>
</div>